/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navigation links */
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

/* Style the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the booking form */
form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.text-primary {
  color: #f7c08a;
}


form input[type="date"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

#contact form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

#contact form textarea {
  width: 80%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#contact form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}